.home-background-head-img{
    width: 100vw;
    object-fit: cover;
    height: 300px;
    position: relative;
}

.background-img-text-div{
  width: 50%;
  position: absolute;
  top: 100px;
  left: 50px;
}

.heading-text-white{
    color: white;
}

.heading-text-red{
    color: red;
}

