.home-background-head-img{
    width: 99vw;
    object-fit: cover;
    height: 300px;
    position: relative;
}


.heading-text-white{
    color: white;
}

.heading-text-red{
    color: white;
    text-align: center;
    font-weight: bold;

}

/* Delicious food cards section */

.delicious-food-cards-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Delivery logo section */

.Delivery-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
}

.delivery-div{
   width: 150px;
   text-align: center;
}

.delivery-logo-img{
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 12);
}

.delivery-logo-img:hover{
    transform: scalex(1.2);
    transition: 0.4s;
}

/* trending food card  */

.trending-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.brand-logo-container{
    width: 70%;
    margin: 0 auto;
}

.display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.background-img-text-div{
    width: 40%;
    position: absolute;
    top: 160px;
    left: 360px;
    /* background-color: white; */
  }
  
.button-position{
    display: block;
    margin: 0 auto;
}
